<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <div class="form">
        <form method="POST" action="">
            {% csrf_token %}<!-- need it to avoid a error -->
            
            <label for="uname">User Name :</label>
            <input type="text" placeholder="User Name" name="uname">
            <br>
            <label for="pass">Password :</label>
            <input type="password" placeholder="Password" name="pass">
            <br>
            <button type="submit">Submit</button>
            <p>Don't have an account ? ?<a href="{% url 'register-page' %}">Register</a></p>
        </form>
    </div>
</body>
</html>